<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <p></p>

    <a href = "mailto: varunkasyap@hotmail.com">Send Mail</a>
<%- include("partials/footer"); -%>
